* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

section {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card {
    width: 340px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 20px 15px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 60px #F4A503;
    background: linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, #F4A503, black) border-box;
    border: 6px solid rgba(0, 0, 0, 0);
    animation: cardAnim 4s linear infinite;

}

@keyframes cardAnim {
    from {
        --rotate: 0deg
    }

    to {
        --rotate: 360deg
    }
}

.card img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    transition: scale .3s ease-in-out;
}


.card .details h1 {
    font-size: 1.8rem;
    font-weight: 600;
    transition: color .3s ease-in-out;
}


.card .details p {
    font-weight: 500;
    line-height: 1.1;
    font-size: .9rem;
    transition: color .3s ease-in-out;
}

.card:hover .details h1,
.card:hover .details p {
    color: #F4A503;
}