@font-face {
    font-family: f1;
    src: url(fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}

@font-face {
    font-family: f2;
    src: url(fonts/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}

@font-face {
    font-family: f3;
    src: url(fonts/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: poppins, sans-serif; */
}

html,
body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav .left {
    display: flex;
    align-items: center;
    gap: 60px;
}

nav .left svg {
    width: 90px;
}

nav .left ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav .left ul li a {
    font-family: f1;
    font-weight: 600;
    font-size: 14px;
}

nav .right {
    display: flex;
    gap: 20px;
}

nav .right svg {
    transform: translateY(40%);
}

nav .right img {
    width: 45px;
    border-radius: 50px;
}

.hero {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    padding-inline: 65px;
    display: flex;
    gap: 5px;
}

.hero .left,
.hero .right {
    width: 50%;
    height: 100%;
}

.hero .left {
    padding-top: 30px;
}

.hero .left h1 {
    font-size: 55px;
    padding-right: 100px;
    line-height: 1.1;
    font-family: f3;
}

.hero .left>p {
    font-size: 14px;
    padding-right: 150px;
    font-family: f2;
    padding-block: 20px;
}

.hero .left .three-opt {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-block: 10px;
}

.three-opt .opt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 18px;
    border-radius: 50px;
    transition: all ease .3s;
    cursor: pointer;
}

.hero .left .popular {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 3px;
}

.hero .left .popular ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero .left .popular ul li {
    border: 1px solid #ddd;
    background-color: transparent;
    font-size: 13.5px;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: f1;
    font-weight: 400;
}

.hero .left .popular {
    font-family: f2;
}

.hero .left .popular h5 {
    font-size: 12px;
    font-family: f1;
    font-weight: 600;
}

.opt p {
    font-family: f2;
    font-size: 13.5px;
}

.opt svg {
    width: 21px;
}

.hero .opt:first-child {
    background-color: black;
    color: white;
}

.hero .opt:nth-child(2):hover {
    background-color: #f3f3f3;
}

.hero .opt:nth-child(3):hover {
    background-color: #f3f3f3;
}

.hero .left .input-box {
    background-color: transparent;
    border-radius: 50px;
    width: 85%;
    padding: 3px;
    transition: all ease .2s;
    margin: 0px 0px 20px 0px;
}

.hero .left .input-box .inner {
    width: 100%;
    display: flex;
    gap: 3px;
    align-items: center;
    height: 60px;
    background-color: #f3f2f2;
    border-radius: inherit;
    transition: all ease .2s;
}

.hero .left .input-box .inner:hover {
    background-color: white;
}

.hero .left .input-box:hover {
    background-color: #FAEBF9;
}

.hero .left .input-box input {
    width: 100%;
    height: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-inline: 20px;
    font-family: f1;
}

.hero .left .input-box .inner input::placeholder {
    color: black;
}

.hero .left .input-box i {
    background-color: #EC5E95;
    color: white;
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.hero .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .right .video-box {
    width: 95%;
    height: 80%;
    border-radius: 20px;
    position: relative;
}

.hero .right .video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero .right .video-box .user {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    padding: 6px 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero .right .video-box .user img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.hero .right .video-box .user h6 {
    font-size: 11px;
    font-family: f1;
    font-weight: 600;
}

.highlight {
    position: relative;
    width: 88%;
    margin: 20px auto;
    background-color: #F8F8FC;
    border-radius: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    padding-inline-start: 10px;
    gap: 50px;
}

.highlight .btn-outer {
    position: relative;
    height: 45px;
    background-color: transparent;
    border-radius: 50px;
    padding: 2px;
    overflow: hidden;
}

.highlight .btn-outer::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(transparent, transparent, #A37FD4);
    scale: 8;
    animation: round 5s linear infinite;
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.highlight .btn-outer button {
    border-radius: inherit;
    height: 100%;
    border: none;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: f1;
    font-weight: 600;
    position: relative;
    /* opacity: 0; */
}

.highlight .btn-outer button i {
    font-size: 22px;
    font-weight: 100;
    color: #A37FD4;
}

.highlight p {
    font-family: f1;
    font-size: 14px;
}

.highlight .tag {
    font-family: f3;
    background-color: #EC5E95;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 165px;
    color: white;
    font-size: 9px;
    padding: 2px 6px;
    border-radius: 50px;
}


.showcase {
    width: 100%;
    height: 100vh;
    padding: 20px 50px;
    display: flex;
    align-items: flex-start;
}

.showcase .topbar {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase .topbar ul {
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
    font-family: f2;
}

#follow-btn {
    height: 35px;
    width: 100px;
    border-radius: 4px;
    border: none;
    padding: 2px;
    margin-right: 50px;
}

#follow-btn .inner {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#follow-btn .inner i{
    padding-top: 4px;
}

.category-btn {
    background-color: transparent !important;
    padding: 6px 16px;
    border-radius: 50px;
    border: none;
    margin-inline: 5px;
    font-size: 14px;
}

.topbar ul li {
    border-radius: 50px;
}

.topbar ul li:nth-child(2) {
    background-color: #f3f3f3;
}

.category-btn i {
    font-size: 18px;
}

#filter-btn {
     height: 35px;
    width: 90px;
    border-radius: 50px;
    border: none;
    padding: 2px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter-btn  .inner{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}