@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

main h1 {
    font-size: 220px;
    letter-spacing: 10px;
    padding-left: 30px;
    font-weight: 500;
    line-height: 1;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    font-size: 15px;
}

nav h5 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
}

#side_section {
    padding-left: 30px;
    width: 250px;
    margin-top: 30px;
}

#side_section p {
    font-size: 12px;
}

#side_section p {
    margin-bottom: 20px;
}

#side_section h3 {
    font-weight: 600;
    font-size: 17px;
}

footer {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

footer h6 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 16px;
}
footer a {
    font-size: 14px;
}
main img{
    position: absolute;
    height: 200px;
}
#img1{
    left: 43%;
    top: 45%;
}
#img2{
    left: 55%;
    top: 55%;
}
#img3{
    left: 73%;
    top: 40%;
    height: 300px;
}