* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

section {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #57ebde, #aefb2a);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

nav h4 {
    font-size: 2rem;
    font-weight: 600;
}

nav ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.263);
    border-radius: 50px;
    position: relative;
}

nav li {
    list-style: none;
    padding: 15px 30px;
}

nav li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.911);
}

nav button {
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

