* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.page1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #57ebde, #aefb2a);
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.nav1 h4 {
    font-size: 2rem;
    font-weight: 600;
}

.nav1 ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.263);
    border-radius: 50px;
    position: relative;
    anchor-name: --some-anchor;
}



.nav1 li {
    list-style: none;
    /* padding: 15px 30px; */
    width: 100px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
}
.nav1 li:hover{
    anchor-name: --some-anchor;
}

.nav1 li a {
    text-decoration: none;
    line-height: 1;
    color: rgba(255, 255, 255, 0.911);
}

.nav1 button {
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}


.nav1 .anchor {
    position: absolute;
    width: 100px;
    height: 55px;
    border-radius: 50px;
    background-color: black;
    position-anchor: --some-anchor;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    transition: all linear .2s;
}


.page2 {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #5786eb, #a72afb);
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.nav2 h4 {
    font-size: 2rem;
    font-weight: 600;
}

.nav2 ul {
    display: flex;
    border-radius: 50px;
    position: relative;
    anchor-name: --some-anchor;
    background-color: rgba(0, 0, 0, 0.263);
    transition: all linear .1s;
}



.nav2 li {
    list-style: none;
    /* padding: 15px 30px; */
    width: 100px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
}
.nav2 li:hover{
    anchor-name: --some-anchor;
}
.nav2 ul:has(li:hover){
    background-color: transparent;
}

.nav2 li a {
    text-decoration: none;
    line-height: 1;
    color: rgba(255, 255, 255, 0.911);
}

.nav2 button {
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}


.nav2 .anchor {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.263);
    /* width: 100%;
    height: 100%; */
    border-radius: 50px;
    position-anchor: --some-anchor;
    pointer-events: none;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    transition: all linear .3s;
}