@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: poppins , sans-serif; */
    font-family: "Titillium Web", sans-serif;
}

:root {
    --white: white;
    --dim: #CBCBCB;
    --dim2: #292929;
    --orange: #FD5E02;
}

html,
body {
    height: 100%;
    width: 100%;
}

.ray {
    position: absolute;
    width: 300px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    right: -5%;
    top: 60px;
    rotate: -20deg;
    z-index: 100;
    filter: blur(70px);
    pointer-events: none;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #171818;
    color: white;
    overflow-x: hidden;
}

nav {
    width: 98vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    background-color: #171818;
    top: 0;
    left: 0;
}

nav h2 {
    font-size: 35px;
    font-weight: 600;
}



nav button {
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
    background-color: #636363;
    color: white;
    font-weight: 600;
    position: relative;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.386);
}

nav button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    width: 1.2px;
    border-radius: 5px;
    filter: blur(2px);
}

nav button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 12px;
    border-radius: 5px;
    filter: blur(15px);
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(hero.png);
    background-size: 72%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    position: relative;
}

.hero .right-top {
    padding: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero .right-top .available {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero .right-top .available h6 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.731);
    font-size: 15px;
}

.hero .right-top .available .dot {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FD5E02;
    z-index: 2;
}

.hero .right-top .available .dot::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd5e029f;
    filter: blur(1px);
}

.hero .right-top .main-text h1 {
    font-size: 140px;
    line-height: 1.05;
}

.hero .right-top .main-text p {
    position: relative;
    margin-left: 35px;
    font-size: 20px;
    color: #CBCBCB;
}

.hero .right-top .main-text p::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1.5px;
    background-color: var(--dim);
    top: 50%;
    left: -2.2%;
}

.hero .hero-btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero .right-btm p {
    width: 35%;
    color: #CBCBCB;
    line-height: 1.3;
    font-weight: 600;
}

.hero .right-btm p span {
    color: white;
}

.hero aside h4 {
    font-size: 55px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -1px;
}

.hero aside p {
    text-align: right;
    font-size: 20px;
    color: var(--dim);
}

.hero .custom-path,
.custom-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-30%);
}

.custom-path img {
    height: 200px;
}

.custom-path i {
    position: absolute;
    font-size: 22px;
    top: 30%;
    left: 12px;
}

.custom-path i:nth-child(2) {
    top: 45%;
    left: 12px;
}

.custom-path i:nth-child(3) {
    top: 60%;
    left: 12px;
}

.custom-btn {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    left: 52%;
    cursor: pointer;
    height: 50px;
}

.about {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 50px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    overflow: hidden;
}

.about .about-top {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-top h6 {
    font-weight: 500;
    font-size: 16px;
}

.about-top h2 span {
    color: var(--white);
}

.about-top h2 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 600;
    width: 75%;
    color: var(--dim);
}

.about-btm {
    display: flex;
    flex-wrap: wrap;
}

.about-btm .card {
    width: 25%;
    height: 380px;
    padding: 10px;
    border-left: 1.5px solid #8e8e9366;
}

.about-btm .card .card-inner {
    width: 100%;
    height: 85%;
    background-color: rebeccapurple;
}

.about-btm .card .card-inner .percent {
    width: 100%;
    height: 55%;
    background-color: var(--dim2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}

.about-btm .card .card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-btm .card h3 {
    font-weight: 700;
    line-height: 1;
}

.about-btm .card h4 {
    font-weight: 500;
    color: var(--dim);
    margin-bottom: 10px;
}

.about-btm .card .card-inner .pattern {
    position: relative;
    width: 100%;
    height: 45%;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #E3E5E8 10px, #E3E5E8 14px);
    background-color: #8E8E93;
}

.about-btm .card .card-inner .pattern1::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fd5e02cc !important;
}

.about-btm .card .card-inner .pattern2::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #cbcbcbae;
}

.about-btm .card .card-inner .pattern3::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #cbcbcbae;
}

.about-btm .card .card-inner .pattern4::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #cbcbcbae;
}

.orange-blur1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fd5e026c;
    top: 0;
    left: 0;
    filter: blur(80px);
}

.orange-blur2 {
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 50%;
    background-color: #fd5e026c;
    top: 30%;
    right: 7%;
    rotate: -20deg;
    filter: blur(60px);
}

.what-i-do {
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.what-i-do .left,
.what-i-do .right {
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
}

.what-i-do .left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.what-i-do .left h6 {
    font-weight: 500;
    font-size: 16px;
}

.what-i-do .left ul li {
    list-style: none;
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    color: var(--dim);
}

.what-i-do .left ul li:nth-child(3) {
    color: var(--white);
}

.what-i-do .left ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 25%,
            black 75%,
            transparent 100%);
}
.what-i-do .right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50%;
    padding-top: 150px;
}

.what-i-do .right .project-img{
    width: 60%;
    height: 180px;
    background-color: red;
    /* border-radius: 3px; */
    overflow: hidden;
    margin-bottom: 20px;
}
.what-i-do .right .project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.what-i-do .right .project-about{
    padding: 30px 0px;
    border-top: 1.3px solid var(--dim);
    border-bottom: 1.3px solid var(--dim);
}
.what-i-do .right .project-about p{
    text-transform: capitalize;
    color: var(--dim);
}
.what-i-do .right .tags{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.what-i-do .right .tags #tag1{
    font-weight: 600;
    text-transform: uppercase;
}
#tag2,#tag3,#tag4{
    border: 1px solid var(--dim);
    padding: 4px 14px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
}
#tag3{
    color: var(--orange);
    border: 1px solid var(--orange);
}

.about-project{
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.about-project .left,.about-project .right{
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
}
.about-project .left h5{
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--dim);
    width: fit-content;
    font-size: 16px;
    margin-bottom: 40px;
}

.about-project .left p{
    text-transform: uppercase;
    width: 65%;
    color: var(--dim);
    font-size: 15px;
}
.about-project .left .about-img{
    width: 80%;
    height: 55%;
    background-color: red;
    overflow: hidden;
    margin-block: 15px;
}
.about-project .left .about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-project .left h3{
    color: var(--dim);
}
.about-project .right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.about-project .right .inner{
    width: 90%;
    text-align: center;
}
.about-project .right .inner h4{
    font-weight: 500;
    font-size: 18px;
}
.about-project .right .inner h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-top: 20px;
}
.about-project .right .inner p{
    text-transform: capitalize;
    font-size: 14px;
    margin-block: 20px;
    margin-bottom: 30px;
}
.about-project .right .inner button{
    background-color: var(--orange);
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
    padding: 8px 35px;
    border-radius: 5px;
}