@font-face {
    font-family: f1;
    src: url(fonts/aqiiD4LUKkKzXdjGL5UzHq8bo5w.woff2);
}

@font-face {
    font-family: f2;
    src: url(fonts/GrgcKwrN6d3Uz8EwcLHZxwEfC4.woff2);
}

@font-face {
    font-family: f3;
    src: url(fonts/UjlFhCnUjxhNfep4oYBPqnEssyo.woff2);
}

@font-face {
    font-family: f4;
    src: url(fonts/yDtI2UI8XcEg1W2je9XPN3Noo.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 10px;
}

:root {
    --blue: #0161FE;
    --light-gray: #F6F7F9;
    --secondary-text-color: #727373;
    --primary-text-color: black;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: f2;
}

li {
    list-style: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    padding: 2rem 5rem;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    gap: 5rem;
}

nav ul li a {
    font-size: 1.4rem;
}

nav .logo a {
    font-size: 2.5rem;
    font-family: f3;
    letter-spacing: -1px;
}

.blue-btn {
    background-color: var(--blue);
    color: white;
    border: none;
    width: 10rem;
    height: 3.8rem;
    border-radius: 50px;
    font-family: f2;
    font-size: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blue-btn div {
    padding: .5rem;
    transform: translateY(1.4rem);
    transition: all ease-in-out .2s;
}

.blue-btn:hover div {
    transform: translateY(-1.4rem);
}

.hero {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: flex-end;
    font-family: f1;
}

.hero .inner {
    width: 100%;
    height: 88%;
    background-color: var(--light-gray);
    border-radius: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 1rem;
}

.hero .inner .left,
.hero .inner .right {
    width: 50%;
    height: 100%;
}

.hero .inner .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    padding-top: 6rem;
    padding-left: 4rem;
}

.hero .inner .left h1 {
    font-size: 6.5rem;
    line-height: 8rem;
}

.hero .inner .left p {
    font-size: 1.65rem;
    width: 88%;
    font-family: f2;
    color: var(--secondary-text-color);
    font-weight: 500;
}

.hero .left .btns {
    display: flex;
    gap: 2rem;
}

.outline-btn {
    width: 8rem;
    height: 3.8rem;
    border-radius: 50px;
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
    transition: all ease-in-out .2s;
}

.outline-btn:hover {
    background-color: var(--blue);
    color: white;
}

.hero .right .video-box {
    width: 88%;
    height: 88%;
    border-radius: 2rem;
}

.video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.stats {
    padding: 6rem 4rem;
    display: flex;
    font-family: f1;
}

.stats .stat {
    width: 25%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.4rem;
}

.stat h2 {
    font-size: 6rem;
}

.stat h6 {
    font-size: 1.6rem;
    width: 75%;
    color: var(--secondary-text-color);
    font-family: f2;
    font-weight: 500;
    text-align: center;
}

.expertise {
    /* width: 100vw; */
    min-height: 100vh;
}

.expertise .inner {
    font-family: f1;
    padding: 4rem;
    width: 98.2%;
    margin: auto;
    height: 100%;
    background-color: var(--light-gray);
    border-radius: 1.7rem;
}

.expertise .expertise-top .left,
.expertise .expertise-top .right {
    width: 50%;
}

.expertise .expertise-top {
    display: flex;
    align-items: end;
    padding: 3rem 0rem;
}

.expertise .expertise-top .left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.expertise .expertise-top .left p {
    font-size: 1.7rem;
    text-transform: uppercase;
    border: 1px solid var(--primary-text-color);
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.expertise .expertise-top .left h2 {
    font-size: 3rem;
    width: 65%;
}

.expertise .expertise-top .right {
    display: flex;
    justify-content: end;
}

.expertise .expertise-top .right p {
    font-size: 1.7rem;
    color: var(--secondary-text-color);
    width: 90%;
}

.expertise-video {
    width: 100%;
    height: 100vh;
    border-radius: 2.5rem;
    margin: 4rem 0rem;

}

.expertise-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.expertise .blue-btn {
    margin: auto;
}

.services {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    display: flex;
    font-family: f1;
    padding: 6rem 4rem;
}

.service-left,
.service-right {
    width: 50%;
    height: 100%;
}

.service-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-left .top {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.service-left h6 {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--primary-text-color);
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.service-left h2 {
    font-size: 3.5rem;
    width: 80%;
}

.service-left p {
    font-size: 1.6rem;
    color: var(--secondary-text-color);
    width: 80%;
}

.service-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.service-right .service-card {
    background-color: #F6F7F9;
    width: 45%;
    height: 47%;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.service-card:hover {
    background-color: var(--blue);
    color: white;
}

.service-card:hover i {
    background-color: #dae1fa;
}

.service-card h4 {
    font-size: 1.9rem;
}

.service-card p {
    font-size: 1.4rem;
}

.service-card .service-details {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.service-card i {
    font-size: 2.2rem;
    color: white;
    font-weight: 500;
    background-color: var(--blue);
    border-radius: 50px;
    padding: .8rem;
    transition: all ease-in-out .3s;
}

.portfolio {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: f1;
}

.portfolio .inner {
    width: 98.3%;
    height: 100%;
    background-color: var(--light-gray);
    border-radius: 1.7rem;
    padding: 4rem;
}

.portfolio .inner .left p {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--primary-text-color);
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.portfolio .inner h2 {
    font-size: 3.5rem;
    width: 70%;
}

.portfolio .portfolio-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.portfolio .portfolio-top .blue-btn {
    width: 13rem;
    white-space: nowrap;
}

.portfolio .inner .portfolio-top .left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.portfolio .portfolio-btm {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-btm .card {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.portfolio-btm .card .img-box {
    width: 100%;
    height: 60vh;
    border-radius: 1rem;
    background-color: red;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-btm .card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out .3s;
}

.portfolio-btm .card .img-box:hover img {
    scale: 1.08;
}

.portfolio-btm .details {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.portfolio-btm .details h4 {
    font-size: 2.4rem;
}

.portfolio-btm .details p {
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.portfolio-btm .tags {
    display: flex;
    gap: 2rem;
}

.portfolio-btm .tag {
    background-color: #dae1fa;
    padding: 1rem 1.8rem;
    font-size: 1.3rem;
    border-radius: 50px;
    font-family: f2;
}

.ceo {
    width: 100%;
    height: 90vh;
    padding: 4rem;
    display: flex;
    font-family: f1;
    padding-block: 8rem;
    flex-wrap: wrap;
}

.ceo .left,
.ceo .right {
    width: 50%;
}

.ceo .left {
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.ceo .left .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ceo .left .top-line h3 {
    font-size: 2.4rem;
    font-family: f3;
}

.ceo .left .top-line .rating i {
    font-size: 2.5rem;
    margin-left: -.3rem;
    color: var(--blue);
}

.ceo .left .center-line {
    font-size: 2.3rem;
    font-family: f2;
}

.ceo .left .bottom-line {
    font-size: 2.2rem;
    font-family: f2;
}

.ceo .left .bottom-line span {
    color: var(--secondary-text-color);
    font-family: f1;
}

.ceo .right img {
    width: 95%;
    height: 100%;
    border-radius: 1.7rem;
    object-fit: cover;
}

.blog {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.blog .inner {
    width: 98.3%;
    height: 100%;
    background-color: var(--light-gray);
    border-radius: 1.7rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-bottom: 10rem;
}

.blog .inner .left p {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--primary-text-color);
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.blog .inner h2 {
    font-size: 3.5rem;
}

.blog .blog-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.blog .blog-top .blue-btn {
    width: 8rem;
    white-space: nowrap;
}

.blog .inner .blog-top .left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.blog .inner .blog-btm {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 1rem;
}

.blog .inner .blog-btm .card {
    flex: 1;
    background-color: white;
    padding: 1.8rem;
    border-radius: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transition: all ease-in-out .3s;
    overflow: hidden;
    cursor: pointer;
}

.blog .inner .blog-btm .card .img-box {
    width: 100%;
    height: 60vh;
    border-radius: 1.7rem;
    overflow: hidden;
}

.blog .inner .blog-btm .card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-out .3s;
}

.blog-btm .card .details h4 {
    font-size: 2.1rem;
    font-weight: 600;
}

.blog-btm .card .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blog .inner .blog-btm .card:hover {
    background-color: #E6EFFF;
}

.blog .inner .blog-btm .card:hover .img-box img {
    scale: 1.08
}

.blog-btm .card .details p {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
}

.blog-btm .card .details .profile {
    display: flex;
    gap: 1rem;
}

.blog-btm .card .details .profile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    object-fit: cover;
}

.blog-btm .card .details .profile h6 {
    font-size: 1.3rem;
}

.user-name-time {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact {
    width: 100%;
    padding: 4rem;
    font-family: f1;
    padding-block: 8rem;
}

.contact-top {
    display: flex;
    flex-wrap: wrap;
}

.contact-top .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10rem;
}

.contact-top .left .headings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-top .left .headings p {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--primary-text-color);
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.contact-top .left .headings h2 {
    font-size: 3.5rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-details .detail {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.contact-details h5 {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.contact-details h6 {
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
}

.socials-icons {
    display: flex;
    gap: 1rem;
    align-items: start;
    font-size: 2rem;
    margin-top: 1rem;
}

.socials-icons i {
    border: 1px solid;
    border-radius: 50px;
    padding: .7rem;
    cursor: pointer;
    transition: all ease .2s;
}

.socials-icons i:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
}

.contact .right {
    width: 50%;
    padding: 1rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contact form .full-name {
    display: flex;
    /* background-color: red; */
    gap: 2rem;
}

.contact form .full-name div {
    width: 50%;
}

.contact form .single-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact form label {
    font-size: 1.6rem;
    font-family: f3;
}

.contact form input {
    padding: 1.9rem 1.7rem;
    border-radius: 50px;
    border: 1px solid var(--secondary-text-color);
    font-size: 1.7rem;
    outline: none;
}

.contact form textarea {
    font-family: f2;
    resize: none;
    padding: 1rem;
    border-radius: 1.6rem;
    font-size: 1.7rem;
    height: 30vh;
    border: 1px solid var(--secondary-text-color);
    outline: none;
}

form input:focus,
form textarea:focus {
    border: 1px solid var(--blue);
}

form button {
    background-color: var(--blue);
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 1rem 0rem;
    font-size: 1.5rem;
    transition: all ease-in-out .3s;
}

form button:hover {
    scale: .95;
}

footer {
    width: 99%;
    padding: 4rem;
    background-color: black;
    color: white;
    margin-inline: auto;
    border-radius: 2rem;
    font-family: f1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

footer .left a {
    color: white;
    font-size: 2.5rem;
    letter-spacing: -1px;
}
footer .footer-top{
    display: flex;
    justify-content: space-between;
}
footer .footer-top .left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

footer .footer-top .left .newslatter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newslatter label {
    font-size: 2.3rem;
    font-family: f2;
}

.newslatter .newslatter-input input {
    border: none;
    background-color: rgb(60, 60, 60);
    padding: 1.3rem 2rem;
    border-radius: 50px;
    font-size: 1.6rem;
    outline: none;
    color: white;
}

.newslatter-input {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.newslatter-input button {
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.newslatter-input button:hover{
    scale: .95;
}
.footer-top .right a{
    color: #878787;
    font-weight: 500;
    font-size: 1.4rem;
    transition: all ease-in-out .3s;
}
.footer-top .right a:hover{
    color: white;
}
footer .footer-top .right {
    display: flex;
    gap: 5rem;
}
footer .footer-top .right ul{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.footer-btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-btm p{
    font-size: 1.5rem;
}
.footer-btm .socials{
    display: flex;
    gap: 1rem;
}
.footer-btm i{
    font-size: 2.2rem;
    padding: .8rem;
    cursor: pointer;
    border-radius: 50px;
    transition: all ease-in-out .3s;
}
footer i:hover{
    background-color: white;
    color: var(--blue);
}