@font-face {
    font-family: apple1;
    src: url(fonts/sf-pro-display_semibold.woff2);
}

@font-face {
    font-family: apple2;
    src: url(fonts/sf-pro-text_bold.woff2);
}

@font-face {
    font-family: apple3;
    src: url(fonts/sf-pro-text_regular.woff2);
}

@font-face {
    font-family: apple4;
    src: url(fonts/sf-pro-text_semibold.woff2);
}

@font-face {
    font-family: apple5;
    src: url(fonts/sf-pro-icons_light.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sec {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
}
h1{
    display: flex;
    align-items: center;
}
main {
    width: 100%;
    height: 100%;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #262627;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    color: #b5b5b5;
    font-size: 12.5px;
    font-family: apple3;
    font-weight: 100;
}

#logo {
    color: white;
    font-size: 20px;
}

.icon {
    color: white;
}

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/iphone_17_pro.webp);
    background-size: cover;
}

.text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    color: white;
}

.text_box h1 {
    font-size: 60px;
    font-family: apple1;
}

.text_box h2 {
    font-size: 30px;
    font-family: apple3;
    font-weight: 400;
    letter-spacing: -1.7px;
}

.btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btns .colored_btn {
    padding: 11px 20px;
    cursor: pointer;
    border-radius: 100px;
    background-color: #0071E3;
    border: none;
    color: white;
    font-family: apple3;
    font-weight: 100;
    font-size: 17px;
}

.btns .border_btn {
    padding: 11px 20px;
    cursor: pointer;
    border-radius: 100px;
    border: 1.4px solid #0071E3;
    color: #0071E3;
    background-color: transparent;
    font-family: apple3;
    font-weight: 100;
    font-size: 17px;
}

#iphone_air {
    background-image: url(images/iphone_air.webp);
    background-size: cover;
}

.sec h1,
.sec h2 {
    color: black;
}

#iphone_air h2 {
    font-size: 28px;
    font-weight: 400;
}

#iphone_air .text_box {
    padding-top: 70px;
}

#iphone_17 {
    background-image: url(images/iphone_17.webp);
    background-size: cover;
}

#iphone_17 .text_box {
    padding-top: 70px;
}

#watch_pods .text_box{
    padding-top: 40px;
}
#watch_pods .text_box h1{
    font-size: 40px;
}
#watch_pods .watch .text_box h1{
    font-size: 40px;
    font-family: apple3;
    font-weight: 100;
}
#watch_pods .text_box h1 span{
    font-weight: 700;
    font-size: 40px;
}
#watch_pods .text_box h2{
    font-size: 21px;
}
#watch_pods .btns button {
    font-size: 15px;
    padding: 8px 16px;
}

#watch_pods .watch{
    background-image: url(images/apple_watch_series_11.webp);
    background-size: cover;
}
#watch_pods .pods{
    background-image: url(images/airpodspro_3.webp);
    background-size: cover;
}

#watch_pods,
#mac_ipad,
#trade_card {
    height: 90%;
    display: flex;
    gap: 10px;
}

#mac_ipad .mac,
#mac_ipad .ipad,
#trade_card .trade,
#trade_card .card,
#watch_pods .watch,
#watch_pods .pods {
    width: 50%;
    height: 100%;
    background-color: #0071E3;
}

#mac_ipad .mac {
    background-image: url(images/macbook_air.webp);
    background-size: cover;

}

#mac_ipad .ipad {
    background-image: url(images/ipad_air.webp);
    background-size: cover;
}

#mac_ipad .text_box,
#trade_card .text_box {
    padding-top: 70px;
}

#mac_ipad .text_box h1 {
    font-size: 40px;
}

#mac_ipad .text_box h2{
    font-size: 22px;
}


#mac_ipad .btns button {
    font-size: 15px;
    padding: 8px 16px;
}

#trade_card .trade {
    background-image: url(images/iphone_tradein.webp);
    background-size: cover;

}

#trade_card .card {
    background-image: url(images/apple_card.webp);
    background-size: cover;
}
#trade_card .text_box h1{
    font-size: 40px;
}
#trade_card .text_box h2{
    font-size: 21px;
}
#trade_card .btns button {
    font-size: 15px;
    padding: 8px 16px;
}
